@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

.select-all{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    cursor: pointer;
}


.container{
    display: flex;
    grid-gap: .8em;
    max-width: 1500px;
    margin: auto;
}


/* **********header********* */
.header h2{
    background-color: #387ABC;
    text-align: center;
    padding: 0.7rem;
    color: #E8E7EB;
    text-transform: uppercase;
    margin-top: -0.5rem;
}

/* ************Subject Section*************** */
.subject{
    margin-bottom: 1.6rem;
}
.subject button:nth-child(1){
    text-transform: capitalize;
    background-color: #174198;
}
.subject button{
    text-transform: uppercase;
    color: #E8E7EB;
    background-color: #387ABC;
    padding: .4rem 1.3rem;
    margin-top: .3rem;
    border: none;
    cursor: pointer;
}
.subject button:hover{
    background-color: #174198;
}


/* ***********Question Section********* */
.question{
    margin-top: 0.7rem;
    border: 1px solid #808080;
    border-radius: 5px;
}
.Serial{
    background-color: #387ABC;
    display: flex;
    justify-content: space-between;
    padding: .4rem;
    color: #E8E7EB;
}
.Serial .view::before{
    content: "View in:";
}
.Question-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    height: 68vh;
}
.Question-content h4{
    border-bottom: 1px solid #808080;
    padding: 0;
    margin: 0;
}
.question-instr{
    border-right: 1px solid #808080;
}
.Question-content h4{
    color: #8577F4;
    text-transform: uppercase;
    padding: .2rem;
    font-size: 14px;
}
.Question-content p{
    padding-left: .5rem;
    padding-right: 2rem;
    text-align: justify;
}
.question-item .img{
    border-bottom: 1px solid #808080;
}
.question-item .option{
    border-bottom: 1px solid #808080;
    padding: .7rem;
}
.question-item p span{
    font-family: 'Dancing Script', cursive;
}
.question-item .option span{
    font-family: 'Dancing Script', cursive;
}
.question-item .option math{
    font-size: 30px;
}

.left .btn{
    margin: .8rem 0;
}
.left .btn button{
    background-color: #387ABC;
    border: none;
    margin-top: .5rem;
    color: #E8E7EB;
    padding: .5em 1em;
    text-transform: uppercase;
    cursor: pointer;
    margin-left: 10px;
}
.left .btn button:hover{
    background-color: #174198;
}

/* ***********right Side Container*********** */
.right .profile{
    display: flex;
    background-color: #CEECEE;
    border-radius: .4rem;
    grid-gap: .4em;
    border: 1px solid #808080;
    width: 16.6rem;
    margin-top: -1.23rem;

}
.right .profile img{
    height: 80px;
    border-top-left-radius: .4rem;
}
.right .person-deatils{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.que-pallete, .legend{
    background-color: #CEECEE;
    border: 1px solid #808080;
    margin-top: 0.7rem;
    margin-bottom: .2rem;
    border-radius: .5em;
}
.que-pallete{
    height: 280px;
}
.que-pallete h5 , .legend h5{
    background-color: #387ABC;
    border-top-right-radius: .5em;
    border-top-left-radius: .5rem;
    padding: .4rem;
    margin: 0;
    color: #E8E7EB;
    
}
.que-pallete .num{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px,1fr));
}
.que-pallete .num a{
    margin: .1rem;
    padding: .2rem;
    text-align: center;
    text-decoration: none;
    color: #000;
}


.legend .ans{
    display: flex;
    flex-wrap: wrap;
}
.legend .ans button{
    flex: 47%;
    margin: .2rem;
    border: none;
    padding: .4rem;
}
.all-que h5{
    border-radius: 0;
    color: #000;
    text-align: center;
}
.all-que .que-btn{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: .4em;
    margin: 10px;
}
.all-que .que-btn button{
    background-color: #387ABC;
    border: none;
    padding: .4rem;
    color: #E8E7EB;
}


/* *************footer************ */
.footer{
    background-color: #617A8A;
    color: #E8E7EB;
    padding: .5rem;
    font-weight: 800;
    text-align: center;
    font-size: 2rem;
}


/* for tablet */

@media only screen and (max-width:1080px) {
    .container{
        width: 96%;
    }
}


/* for Mobile */
@media only screen and (max-width:780px) {
    .container{
        display: block;
        width: 96%;
    }
    .right{
        margin-top: 7rem;
    }

    .left .btn{
      margin-top: 22rem;
    }
    .footer{
        margin-top: 0.7rem;
    }

    img{
      max-width: auto;
    }
}